@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #2D2D2D;
}
    
img {
    max-width: 100%;
    height: auto;
}

.video {
    width: auto;
    height: 100vh;
}

.inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.header {
    padding: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_title {
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    background: #209B27;
    padding: 0 5px;;
    margin: 0;
    letter-spacing: -1px;
}

.header_slogan {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: #209B27;
    background: #FFF;
    padding: 5px;
    margin: 0;
    letter-spacing: -1px;
}

.header_cta {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background: #209B27;
    padding: 8px;
    margin: 0;
}


//intro 

.intro {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.intro_hello {
    font-size: 35px;
    font-weight: 700;
    color: #209B27;
    text-align: left;
    margin: 0;
    letter-spacing: -2px;
    padding: 0 20px;
}

.intro_text {
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #209B27;
    text-align: left;
    letter-spacing: -1px;
    margin: 0;
}

.imagen {
    margin: 0;
    padding: 0;
    height: auto;
}

.imagen img{
    width: 100%;
    height: auto;
}

//horario
.horario {
    padding: 20px;
    height: 50vh;
    background: #209B27;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horario_titulo {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #FFF;
}

.horario_time p{
    font-size: 25px;
    margin: 0;
}


//encuentranos
.encuentranos {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.encuentranos_titulo {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -3px;
    color: #209B27;
}

//footer

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.footer a{
    color: #209B27;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: -1px;
}

@media (min-width: 800px) {
    
    .video {
        width: 100%;
        height: auto;
    }
    
    .inicio {
        width: 100%;
        height: auto;   
    }
    
    .header {
        padding: 0;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .header_title {
        font-size: 60px;
        font-weight: bold;
        color: #FFF;
        background: #209B27;
        padding: 2px;
        margin: 0;
    }
    
    .header_slogan {
        font-size: 40px;
        font-weight: bold;
        color: #209B27;
        background: #FFF;
        padding: 2px;
        margin: 0;
    }
    
    .header_cta {
        font-size: 40px;
        font-weight: bold;
        color: #FFF;
        background: #209B27;
        padding: 10px;
        margin: 0;
    }


    .intro {
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .intro_hello {
        font-size: 60px;
        font-weight: 700;
        color: #209B27;
        text-align: left;
        margin: 0;
        letter-spacing: -2px;
        padding: 0 20px;
    }

    .intro_text {
        padding: 10px 150px;
        font-size: 30px;
        font-weight: 500;
        color: #209B27;
        text-align: left;
        letter-spacing: -1px;
        margin: 0;
    }

    .content {
        display: flex;
    }
    //horario
    .horario {
        width: 50%;
        padding: 20px;
        height: 50vh;
        background: #209B27;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .horario_titulo {
        margin: 0;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -2px;
        color: #FFF;
    }

    .horario_time p{
        font-size: 25px;
        margin: 0;
    }


    //encuentranos
    .encuentranos {
        width: 50%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .encuentranos_titulo {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -3px;
        color: #209B27;
    }


}