@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2em;
    line-height: 1.5em; 
}

.section1 {
    width: 100%;
    height: 100vh;
}
.container {
    text-align: center;
    padding: 1em 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cta-desk{
    visibility: hidden;
}

/*header*/

.logo {

    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 0;
    width: 60%;
    padding: 1em;
}


/*section intro*/

.section {
    margin-top: -5%;
    position: relative;
}

.intro {
    margin-top: -20%;
    margin-bottom: 10%;
    width: 100%;
    color: #000;
}

.slogan {
    font-weight: bold;
}


.wok {
    margin-top: 50%;
    margin-right: 0;
    float: right;
    width: 35%;
}

.slogan {
    line-height: 50px;
    font-style: medium;
    font-size: 2.5em;
    text-align: left;

}

.subhead {
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 20%;
    text-align: left;
}


/*menu*/

.menu-container{
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.arma-tu-caja {
    padding: 1em;
}

.menu {
    width: 100%;
}

.cta-ordene-ya {
    position: absolute;
    margin-top: 0; 
}


/*map container*/

.map-container {
    padding: 4em 0 0 0;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}




// footer

.footer-container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.time-container {
    padding: 1em auto;

}

.footer {
    margin: 0;
    margin-bottom: 0;
    margin-top: 5em;
}

/*calendar*/

.calendar {

    text-align: center;
    border: #707070 2px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    font-size: .8em;
    color: #707070
}



/*QUERIES*/

@media only screen and (min-width: 375px) {

    /* logo */

    .logo {
        width: 70%;
        margin-top: 5%;
    }

    /*section intro*/

    .intro {
        position: relative;
    }

    .wok {
        margin-top: 50%;
        float: right;
        width: 30%;
    }

    .slogan {
        font-size: 2.8em;
        text-align: left;
        line-height: 55px;
        margin-top: 15%;
        margin-bottom: 0;
        position: static


    }

    .subhead {
        font-size: 1.8em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
        
    }

    .gray-container {
        font-size: 1.2em;
    }

    .icon-facebook {
        width: 40%;
    }
    
    .icon-instagram {
        width: 52%;
    }
    
    .icon-rappi {
        width: 70%;
    }

}



@media only screen and (min-width: 600px) {

    
    .container {
        margin: 0em 2em 2em;
    }
    
    
    /*header*/

    .logo {
        width: 25%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    /*section intro*/

    .intro {
        margin-top:  5%;
        margin-bottom: 5%;
        width: 100%;
        height: 80vh;
        flex-direction: column;
    }

    .wok {
        margin-top: 10%;
        float: right;
        width: 30%;
        height: auto;
    }

    .slogan {
        line-height: 80px;
        font-size: 4.6em;
        text-align: left;
        margin-bottom: 0;
        margin-top: 5%;

    }

    .subhead {
        font-size: 2.5em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
    }



    /*gray container*/

    .gray-container{
        height: 80vh;
        width: 100%;
        background: #666666;
        padding: 7em 0 3em;
        color: #fff;
        margin-bottom: 0;
        margin-top: 0; 
    }

    .vegetables{   
        width: 35%;  
    }

    .note{
        margin-top: 10%;
        font-size: 2.2em;
        text-align: center;
    }


    /* maps */

    .map-continer{
        width: "100%";
        margin-left: 30%;
    }
    /*calendar*/

    
    .calendar {

        font-size: 1.4em;
        text-align: center;
        border: #000 2px solid;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 15%;
    }

    /*social*/

    .icon {
        padding: 1.9em;
        align-items: center;
        text-decoration: none;
    }
    
    .icon-facebook {
        width: 45%;
    }
    
    .icon-instagram {
        width: 65%;
    }
    
    .icon-rappi {
        width: 85%;
    }
    
    .social-container {
        margin: 4em 0 4em;
    }
    
    
    .social-container ul{
        margin: 0;
        padding: 0;
    }
    
    .social-container ul li{
        display: inline;
        margin: 1.5em;
    }
    
    .social-container ul li a{
        display: inline-block;;
        text-align: center;
    }
    

    /*footer*/

    .footer-mobile {
        background: #209B27;
        position: fixed;
        left: 0;
        right: 0;;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }

    .cta-container-mobile {
        text-align: center;
        
    }

    .cta-mobile {
        
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 1.8em;
        margin-top: 6px;
        bottom: 0;
        
    }
}



@media only screen and (min-width: 1024px) {

    .container {
        margin: 2em 4em 4em;
    }


    /*header*/

    .logo {
        margin-top: -10%; 
        width: 50%;
        margin-right: auto;
        margin-left: 0;
        display: block;
    }

    nav ul{
        position: inherit;
        width: auto;
        height: auto;
        display: flex;
        padding-top: 0;
        justify-content: space-between;
        
    }

    nav ul li {
        float: left;
        
    }

    nav ul li a {
        text-align: center;
        padding: .7em 2.5em;
        text-decoration: none;
        font-size: 15px;
    }

    .cta-desk {
        visibility: visible;
        display: inline-block;
    }

    .cta-desk li{
        margin-top: 6%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .cta-desk-1 {
        background: #fff;
        color: #209B27;
        border: #209B27 2px solid;
        border-radius: 50px;
    }

    .cta-desk-2 {
        background: #209B27;
        color: #fff;
        border: #209B27 2px solid;
        border-radius: 50px;
    }

    /*section intro*/
        
    .intro {
        margin-top: 5%;
        margin-bottom: 5%; 
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }
        
    .wok {
        margin-top: 0;
        float: right;
        width: 15%;
    }
       
    .slogan {  
        line-height: 65px;
        font-size: 4em;
        text-align: center;
        margin: em 4em 0 3em;
    }
        
    
    .subhead {
        font-size: 2em;
        padding: 0;
        margin-bottom: 20%;
        text-align: center;
        margin: .5em 4em 0 3em;
        
    }
        
        
    /*gray container*/
        
    .gray-container{ 
        height: 100vh;        
        width: 100%;
        background: #666666;
        padding: 0em 0em 0em;
        color: #fff;
    }
        
    .vegetables{ 
        width: 20%;
    }
        
    .note {
        font-size: 2.3em;
        text-align: center;  
        margin: 6em 4em 0em;       
    }

    /* maps */
    
    .map-container {
        float: left;
        width: 50%;
        margin: 10em 0em 0;
        padding: 0;
    }

    /*calendar*/

    .calendar {
        font-size: 1em;
        text-align: center;
        border: #000 2px solid;
        float: center;
        margin: 15em 5em 0;
        margin-left: 55%;
        padding: 0;
    }
 
    /*social*/

    .icon-instagram{
        width: 30%;    
        margin: 0 15px 5px 0;      
        padding: 5px; 
    }

    .icon-facebook{
        width: 17%;
        margin: 0 15px 5px 0;
        padding: 5px; 
    }


    .social-container {
        visibility: hidden;
    }

    /*footer*/
    
    

}
