@import url('https://fonts.googleapis.com/css?family=Cormorant');

body {
    margin: 0;
    font-family: 'Cormorant', sans-serif;
}

p {
    font-size: 1.2em;
    line-height: 1.5em; 
}

.slogan {
    
    font-size: 3.2em;
    font-style: bold;
    text-align: left;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.logo li{
    float: none;
    
}

.main {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.wok {

    margin: 0;
    float: right;
    width: 55%;
}

h1, .subhead {
    position: relative;
    z-index: -3;
    margin-bottom: .1em; 
}

.subhead {
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 20%;
    text-align: left;
}

.gray-container{
    
    width: 100%;
    background: #504949;
    padding: 4em 0 2em;
    color: #fff;
    margin-bottom: 20% 
}

.icon-1{
    
    width: 20%;
    margin-bottom: -2%;
}
.map-container {
    margin-bottom: 15%;
}


.icon-instagram{
    width: 30%;
    margin: 0 15px 5px 0; 
}

.icon-facebook{
    width: 20%;
    margin: 0 15px 5px 0;
    
}

.social-container{
    display: inline-flex;
    justify-content: space-between;
    margin: 0 5px 0 0;
    margin-bottom: 20%;

    
}

.calendar {

    text-align: center;
    border: #000 2px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


footer {
    background: #209B27;
    position: fixed;
    left: 0;
    right: 0;;
    bottom: 0px;
    width: 100%;
    height: 60px;
}

.cta-container {
    text-align: center;
    padding: 1em;
}

.cta {
    
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    
}


.food {
    width: 50px;
}