@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2em;
    line-height: 1.5em; 
}

h1, .subhead {
    position: relative;
    margin-bottom: .1em; 
}

.container {
    text-align: center;
    padding: 1em 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-desk {
    visibility: hidden;
}

.cta-desk{
    visibility: hidden;
}

/*header*/

.logo {
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 0;
}

/*section intro*/

.section {
    margin-top: -5%;
}

.intro {
    margin-top: -20%;
    margin-bottom: 10%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    color: #707070;
}

.wok {

    margin-top: 50%;
    float: right;
    width: 30%;
    position: relative;
}

.slogan {
    line-height: 50px;
    font-style: medium;
    font-size: 2.5em;
    text-align: left;

}

.subhead {
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 20%;
    text-align: left;
}


/*gray container*/

.gray-container{
    position: relative;
    height: 60vh;
    width: 100%;
    background: #707070;
    padding: 4em 0 2em;
    color: #fff;
    margin-bottom: 20%; 
}

.vegetables{ 
    margin: 0%;
    float: left;  
    width: 40%;
    margin-top: 90%;
    position: absolute;
    left: 0;
    bottom: 0;

}

.note{
    font-size: 1.2em;
    text-align: center;
    padding: 1em 0 3em;
}


/*map container*/

.map-container {
    margin-top: 50%;
    margin-bottom: 50%;
}


/*calendar*/

.calendar {

    text-align: center;
    border: #707070 2px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    font-size: 1em;
    color: #707070
}


/*social*/

.icon {
    padding: 12px;
    align-items: center;
    text-decoration: none;
}

.icon-facebook {
    width: 35%;
}

.icon-instagram {
    width: 45%;
}

.icon-rappi {
    width: 60%;
}

.social-container {
    margin: 4em 0 3em;
}


.social-container ul{
    margin: 0;
    padding: 0;
}

.social-container ul li{
    display: inline;
}

.social-container ul li a{
    display: inline-block;;
    text-align: center;
}


/*footer*/

.footer-mobile {
    background: #209B27;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.cta-container-mobile {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
}


.cta-mobile {
    font-style: bold;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}



/*QUERIES*/

@media only screen and (min-width: 375px) {

    /* logo */

    .logo {
        width: 30%;
        margin-top: 5%;
    }

    /*section intro*/

    .wok {
        margin-top: 30%;
        float: right;
        width: 30%;
    }

    .slogan {
        font-size: 3.1em;
        text-align: left;
        line-height: 55px;
    }

    .subhead {
        font-size: 2em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
        
    }

    .gray-container {
        font-size: 1.2em;
    }

}

@media only screen and (min-width: 480px) {

    /*section intro*/

    .wok {
        margin-top: 10%;
        float: right;
        width: 30%;
    }

    .slogan {
        
        font-size: 4.1em;
        text-align: left;

    }

    .subhead {
        font-size: 2em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
        
    }



    /*gray container*/

    .gray-container{

        position: relative;
        height: 50vh;
        width: 100%;
        background:#666666;
        color: #fff;
        margin-bottom: 20%; 
    }

    .vegetables{ 
        margin: 0%;
        float: left;  
        width: 40%;
        margin-top: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

    }

    .note{
        font-size: 2.3em;
        text-align: right;
        padding: 1em 0 3em;
    }
    
    

}


@media only screen and (min-width: 600px) {

    /*header*/

    .logo {
        width: 110px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    /*section intro*/

    .intro {
        margin-top:  5%;
        margin-bottom: 5%;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .wok {

        margin-top: 10%;
        float: right;
        width: 30%;
    }

    .slogan {
        
        font-size: 4.5em;
        text-align: left;

    }

    .subhead {
        font-size: 2.2em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
    }



    /*gray container*/

    .gray-container{
        
        width: 100%;
        background: #666666;
        padding: 7em 0 3em;
        color: #fff;
        margin-bottom: 20%; 
    }

    .vegetables{ 
        margin: 0%;
        float: left;  
        width: 30%;
        margin-top: -18.5% 
    }

    .note{
        font-size: 2.6em;
        text-align: right;
    
    }

    /*calendar*/

    .calendar {

        font-size: 1.4em;
        text-align: center;
        border: #000 2px solid;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 15%;
    }

    /*social*/

    .icon-instagram{
        width: 40%;
        margin: 0 15px 5px 0; 
    }

    .icon-facebook{
        width: 23%;
        margin: 0 15px 5px 0;
        
    }


    .social-container{
        display: inline-flex;
        justify-content: space-between;
        margin: 0 5px 0 0;
        margin-bottom: 20%;
        width: 30%;
    }

    .social-list li{
        display: inline;
    }



    /*footer*/

    .footer-mobile {
        background: #209B27;
        position: fixed;
        left: 0;
        right: 0;;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }

    .cta-container {
        text-align: center;
        padding: 1em;
    }

    .cta {
        
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 2em;
        
    }
}


@media only screen and (min-width: 800px) {

    .container {
        text-align: center;
        padding: 1em 2em;
    }
        
    /*header*/

    .logo {
        width: 140px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 3%;
    }

    /*section intro*/

    
    .intro {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .wok {

        margin-top: 5%;
        float: right;
        width: 35%;
    }

    .slogan {
        
        font-size: 5.5em;
        text-align: left;

    }

    .subhead {
        font-size: 2.8em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
    }



    /*gray container*/

    .gray-container{
        
        width: 100%;
        background: #666666;
        padding: 7em 0 3em;
        color: #fff;
        margin-bottom: 12%; 
    }

    .vegetables{ 
        margin: 0%;
        float: left;  
        width: 30%;
        margin-top: -14% 
    }

    .note{
        font-size: 2.8em;
        text-align: right;
    
    }

    /*calendar*/

    .calendar {

        font-size: 1.4em;
        text-align: center;
        border: #000 2px solid;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 15%;
    }

    /*social*/

    .icon-instagram{
        width: 40%;
        margin: 0 15px 5px 0; 
    }

    .icon-facebook{
        width: 23%;
        margin: 0 15px 5px 0;
        
    }


    .social-container{
        display: inline-flex;
        justify-content: space-between;
        margin: 0 5px 0 0;
        margin-bottom: 20%;
        width: 30%;
    }

    .social-list li{
        display: inline;
    }



    /*footer*/

    .footer-mobile {
        background: #209B27;
        position: fixed;
        left: 0;
        right: 0;;
        bottom: 0px;
        width: 100%;
        height: 100px;
    }

    .cta-container {
        text-align: center;
        padding: 1.5em;
    }

    .cta {
        
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 2.5em;
        
    }

}


@media only screen and (min-width: 1024px) {

    /*header*/


    .logo {
        width: 60%;
        margin-right: auto;
        margin-left: 0;
        display: block;
    }

    nav ul{
        position: inherit;
        width: auto;
        height: auto;
        display: flex;
        padding-top: 0;
        justify-content: space-between;
        
    }

    nav ul li {
        float: left;
        
    }

    nav ul li a {
        text-align: center;
        padding: 1em 2em;
        text-decoration: none;
        font-size: 15px;
    }

    .cta-desk {
        visibility: visible;
        display: inline-block;
    }

    .cta-desk li{
        margin-top: 10%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .cta-desk-1 {

        background: #fff;
        color: #209B27;
        border: #209B27 3px solid;
        border-radius: 50px;
    }

    .cta-desk-2 {
        background: #209B27;
        color: #fff;
        border: #209B27 5px solid;
        border-radius: 50px;
    }

    /*section intro*/
        
    .intro {
        margin-top: 5%;
        margin-bottom: 5%; 
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
        
    .wok {
        margin-top: -5%;
        float: right;
        width: 20%;
    }
       
    .slogan {            
        font-size: 4em;
        text-align: left;
        margin-left: 10%;
    }
        
    
    .subhead {
        font-size: 2.8em;
        padding: 0;
        margin-bottom: 20%;
        text-align: left;
        margin-left: 10%;
    }
        
        
        
    /*gray container*/
        
    .gray-container{         
        width: 100%;
        background: #666666;
        padding: 7em 0 3em;
        color: #fff;
        margin-bottom: 10%; 
    }
        
    .vegetables{ 
        margin: 0%;
        float: left; 
        width: 18%;
        margin-top: -11%; 
    }
        
    .note{
        font-size: 2.5em;
        text-align: right;  
        margin-right: 10%;        
    }

    .map-container {
        float: left;
        width: 40%;
        margin-left: 5%;
    }
        
    /*calendar*/

    .calendar {
        font-size: 1em;
        text-align: center;
        border: #000 2px solid;
        float: right;
        margin-right: 5%;
        padding: 0;
        margin-left: 0;
        margin-bottom: -20%;
        margin-top: 5%;
    }
 
    /*social*/

    .icon-instagram{
        width: 30%;    
        margin: 0 15px 5px 0;      
        padding: 5px; 
    }

    .icon-facebook{
        width: 17%;
        margin: 0 15px 5px 0;
        padding: 5px; 
    }


    .social-container {
        visibility: hidden;
    }

    /*footer*/
    
    .footer-desk {
        visibility: visible;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #FFF;
    }
    
    .footer-mobile {
        visibility: hidden;
    }


    .footer-container-desk {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin-top: 10%;
    }
    
    .footer-container-desk ul {
        display: inline;
        justify-content: space-between;
        text-align: center;
    }

    .footer-container-desk ul li {
        text-align: center;
        float: left;
        font-size: 1.1em;
    }   

    .footer-container-desk ul li a {
        text-align: center;
        padding: 2em;
        text-decoration: none;
        color: #209B27;

    }

}

